*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#0f172a;
display:flex;
justify-content:center;
padding:30px;
}

.container{
width:100%;
max-width:600px;
}

h1{
color:white;
text-align:center;
margin-bottom:20px;
}

.input-box{
display:flex;
gap:10px;
margin-bottom:20px;
}

input{
flex:1;
padding:15px;
border:none;
border-radius:10px;
font-size:16px;
}

button{
padding:15px;
border:none;
background:#38bdf8;
color:white;
border-radius:10px;
cursor:pointer;
}

.note{
background:#1e293b;
color:white;
padding:15px;
margin-bottom:15px;
border-radius:10px;
display:flex;
justify-content:space-between;
align-items:center;
}

.delete-btn{
background:red;
padding:8px 12px;
}
